/*******************************************************************************
 * CGI - Kodtest
 * File: style.css
 * Peter Bergh
 * philemonkey@hotmail.com
 ******************************************************************************/

body {
	background-color: #e4f8e6;
	font-family: monospace, arial, sans-serif;
	color: #214d25;
}

button{
	font-family: monospace, arial, sans-serif;
}
 
header {
	display: table;
	height:75px;
	width: 100%;
	margin-bottom: 30px;
	background-color: #bbdfbe;
}
 
 
h1 {
    display: table-cell;
    width: fit-content;
    min-height: 100%;
    vertical-align: top;
}


#login_and_status {
    display: inherit;
    float: right;
}

#login_and_logout {
	margin: 1em;
}

#login, #logout {
    display: table-cell;
    width: fit-content;
    vertical-align: top;
    float: right;
}
 
p#status {
    display: block;
    float: right;
	margin-bottom: 0;
	margin-right: 1em;
}
 
:any-link {
    color: black;
    font-family: inherit;
    text-decoration: none;
  }

aside {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    float: left;
	width: 200px;
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    min-height: inherit;
}

.menuEntry{
    margin-bottom: 10px;
}

.menuEntry:hover{
    background-color: #bbdfbe;
}


#user_menu {
	font-size: x-large;
	font-family: arial;
}


.memberLink {
	margin: 20px;
	vertical-align: sub;
}


.mainContent {
    width: 550px;
    margin-left: 200px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    min-height: inherit;
	margin-left: 220px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    height: 40px;
}


form.editUser {
	height:500px;
    display: contents;
}

#admin_area {
	
	background-color:#bbdfbe;
    width:fit-content;
}


fieldset.formFieldset {
	
	width: 550px;
    background-color: white;
}

label.userId {
	
	color: white;
}

label.formLabel {
    display: inline-block;
    clear: left;
    width: 200px;
    text-align: left;
}

input {
    display: inline-block;
  }

fieldset:disabled {
    color:grey;
}

fieldset:enabled {
    color:black;
}




.emptySpace {
	height: 500px;
}
